.filtro{
    min-height: 10dvh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.linha-reprovado{
    color: red;
    font-weight: bold;
    border: 2px dashed red;
}

.linha-recuperacao{
    color: orange;
    font-weight: bold;
    border: 2px dashed orange;
}

.linha-aprovado{
    color: greenyellow;
    font-weight: bold;
    border: 2px dashed greenyellow;
}

.invisivel {
    display: none; /*Torna os objetos invisiveis*/ 
}

.visivel {
    display: block; /*Torna os objetos visiveis*/
}
