.filtro{
    min-height: 10dvh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.linha-reprovado{
    color: rgb(182, 0, 0);
    font-weight: bold;
    border: 2px dashed rgb(182, 0, 0);
}

.linha-recuperacao{
    color: rgb(201, 142, 34);
    font-weight: bold;
    border: 2px dashed rgb(201, 142, 34);
}

.linha-aprovado{
    color: rgb(111, 161, 35);
    font-weight: bold;
    border: 2px dashed rgb(111, 161, 35);
}

.invisivel {
    display: none; /*Torna os objetos invisiveis*/ 
}

.visivel {
    display: block; /*Torna os objetos visiveis*/
}
